In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
file_path = 'data/processed/divvy_data_cleaned.pkl'
df = pd.read_pickle(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11272007 entries, 0 to 11272758
Data columns (total 25 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             string
 1   rideable_type       string
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   end_station_name    object
 6   start_lat           Float64
 7   start_lng           Float64
 8   end_lat             Float64
 9   end_lng             Float64
 10  member_casual       string
 11  start_id            object
 12  end_id              object
 13  start_hour          datetime64[ns]
 14  start_day           datetime64[ns]
 15  start_month         int32
 16  start_year          int32
 17  start_dayofweek     int32
 18  start_holiday       bool
 19  SNOW                string
 20  TMAX                string
 21  TMIN                string
 22  PRCP                string
 23  SNWD                string
 24  trip_duration       timedelta64[ns]
dtypes: Float64(4), bool(1), datetime64[ns](4), int32(3), object(4), string(8), timedelta64[ns](1)
memory usage: 2.0+ GB

In [4]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,...,start_month,start_year,start_dayofweek,start_holiday,SNOW,TMAX,TMIN,PRCP,SNWD,trip_duration
0,6A9D809ABDF70617,electric_bike,2024-01-01 00:00:39,2024-01-01 00:07:56,<NA>,Clark St & Wrightwood Ave,41.95,-87.65,41.9295,-87.6431,...,1,2024,0,False,0,11,-17,0,0,0 days 00:07:17
1,26B9F6E416A68EBA,electric_bike,2024-01-01 00:00:50,2024-01-01 00:04:20,<NA>,<NA>,41.9,-87.62,41.9,-87.62,...,1,2024,0,False,0,11,-17,0,0,0 days 00:03:30
2,30EF016A0DF5ECEE,electric_bike,2024-01-01 00:00:52,2024-01-01 00:04:25,<NA>,<NA>,41.9,-87.62,41.9,-87.62,...,1,2024,0,False,0,11,-17,0,0,0 days 00:03:33
3,0D9E85F804C85828,electric_bike,2024-01-01 00:00:53,2024-01-01 00:22:30,Clinton St & Madison St,<NA>,41.8819,-87.6413,41.89,-87.62,...,1,2024,0,False,0,11,-17,0,0,0 days 00:21:37
4,56F5C3ED5178C131,classic_bike,2024-01-01 00:01:01,2024-01-01 00:24:12,LaSalle St & Illinois St,Indiana Ave & Roosevelt Rd,41.8908,-87.6317,41.8679,-87.623,...,1,2024,0,False,0,11,-17,0,0,0 days 00:23:11

In [ ]:
durations = df['trip_duration']

In [ ]:
minutes = []
for duration in durations:
    minutes.append(duration.total_seconds()/60)

In [ ]:
df['trip_duration_minutes'] = minutes
df.info()

In [ ]:
np.mean(minutes)

In [ ]:
np.median(minutes)

In [ ]:
np.std(minutes)

In [ ]:
ptile1 = np.percentile(minutes, 25)
ptile1

In [ ]:
ptile3 = np.percentile(minutes, 75)
ptile3

In [ ]:
iqr = ptile3 - ptile1
low_cutoff=ptile1 - 1.5*iqr
high_cutoff=ptile3 + 1.5*iqr

In [ ]:
df_no_outliers = df[df['trip_duration_minutes'] <= high_cutoff]

In [ ]:
df_no_outliers.reset_index(drop = True)

In [ ]:
df_no_outliers = df_no_outliers[df_no_outliers['trip_duration_minutes'] >= low_cutoff]

In [ ]:
df_no_outliers.reset_index(drop = True)
len(df_no_outliers)

In [ ]:
df_no_outliers.describe()

In [ ]:
(11272007 - 10439596)/11272007

In [ ]:
percentiles = np.array([2.5, 25, 50, 75, 97.5])

In [ ]:
ptiles_duration = np.percentile(minutes, percentiles)

In [ ]:
def ecdf(data):
    """Compute ECDF for a one-dimensional array of measurements."""
    # Number of data points: n
    n = len(data)

    # x-data for the ECDF: x
    x = np.sort(data)

    # y-data for the ECDF: y
    y = np.arange(1, n+1) / n

    return x, y

In [ ]:
x_duration, y_duration = ecdf(df['trip_duration_minutes'])

In [ ]:
sns.set()
# Generate plot
_=plt.plot(x_duration, y_duration, marker = '.', linestyle = 'none')

# Label the axes
_=plt.xlabel('trip duration (minutes)')
_=plt.ylabel('ECDF')

# Overlay percentiles as red diamonds.
_ = plt.plot(ptiles_duration, percentiles/100, marker='D', color='red',
         linestyle='none')

# Display the plot
plt.show()

In [ ]:
#sns.set()
_=plt.hist(df['trip_duration_minutes'], bins = 20)
_=plt.xlabel('trip duration')
_=plt.ylabel('count')
plt.show()

In [ ]:
ptiles_duration = np.percentile(df_no_outliers['trip_duration_minutes'], percentiles)

In [ ]:
x_duration_no_outliers, y_duration_no_outliers = ecdf(df_no_outliers['trip_duration_minutes'])

In [ ]:
sns.set()
# Generate plot
_=plt.plot(x_duration_no_outliers, y_duration_no_outliers, marker = '.', linestyle = 'none')

# Label the axes
_=plt.xlabel('trip duration (minutes)')
_=plt.ylabel('ECDF')

# Overlay percentiles as red diamonds.
_ = plt.plot(ptiles_duration, percentiles/100, marker='D', color='red',
         linestyle='none')

# Display the plot
plt.show()

In [ ]:
#sns.set()
_=plt.hist(df_no_outliers['trip_duration_minutes'], bins = 20)
_=plt.xlabel('trip duration')
_=plt.ylabel('count')
plt.show()

In [ ]:
coords = df.iloc[:, 0:14]

In [ ]:
coords.head(10)

**Delete these rides that start or end outside of Chicago limits:**

In [ ]:
#heck = df[df['end_lat'] > 42.2]
check = df[df['end_lat'] < 41.5]
check.count()

In [ ]:
check2 = df[df['end_lng'] < -88]
#check2 = df[df['end_lng'] > -87.4]
check2.count()

In [ ]:
df['end_id'].unique().value_counts()

In [ ]:
df['start_id'].unique().value_counts()

**Calculating summary statistics:**

In [ ]:
df.describe()

**Comparing member vs casual rides**

In [ ]:
member_rides = df[df['member_casual'] == 'member']
casual_rides = df[df['member_casual'] == 'casual']

member_rides.describe().T

In [ ]:
casual_rides.describe().T

In [ ]:
#histograms for each variable in df
hist = df.hist(bins=15,figsize =(20,10), xrot = 45)
plt.subplots_adjust(hspace=1.5, wspace=0.4)

In [ ]:
#create a boxplot for every column in df
boxplot = df.boxplot(grid=False, vert=False,fontsize=15)

In [ ]:
#create a boxplot for every column in df
boxplot = df_no_outliers.boxplot(grid=False, vert=False,fontsize=15)